.list{
  justify-content: center;
  display: flex;
  color: white;
  background-color: black;
  padding : 10px;
  text-indent: 40px;
}

.topic{
  justify-content: center;
  display: flex;
  color: white;
  background-color: rgb(4, 51, 51);
  font-size: 24px;
  margin-left: 550px;
  margin-right: 550px;
  padding: 10px;
  border-radius: 10px;
}

.center{
  justify-content: center;
  display: flex;
  padding-bottom:10px ;
}